
Debug/Zoologico.pdb
Debug/Zoologico.exe
.vs/Zoologico/v17/ipch/AutoPCH/3851316a1ccab00b/MAINPRUEBA.ipch
.vs/Zoologico/v17/Browse.VC.opendb
.vs/Zoologico/v17/Browse.VC.db-wal
.vs/Zoologico/v17/Browse.VC.db-shm
.vs/Zoologico/v17/Browse.VC.db
.vs/Zoologico/v17/.suo
.vs/Zoologico/FileContentIndex/read.lock
.vs/Zoologico/FileContentIndex/f7d61631-45e2-44ec-942e-1e2a8f037039.vsidx
.vs/Zoologico/FileContentIndex/e06b1e07-a29a-4433-b043-0763facfb693.vsidx
.vs/Zoologico/FileContentIndex/19eaa617-cbb5-4959-9686-3ef29de65377.vsidx
.vs/Zoologico/FileContentIndex/8c17725a-b002-4b28-ab57-395a42b0dff0.vsidx
